<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="author" content="Kain Huck">
<title>登录页面</title>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<link href='http://fonts.useso.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<div class="login">
	<h2>贪玩蓝月！是兄弟就来砍我！</h2>
	<div class="login-top">
		<h1>LOGIN FORM</h1>
		<form action="{{ url }}" method="post">
			<input type="text" name="username" value="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}">
			<input type="password" name="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}">

	    <div class="forgot">
	    	<a href="/postfile">forgot Password</a>
	    	<input type="submit" value="Login" >
	    </div>
		</form>
	</div>
	<div class="login-bottom">
		<h3>New User &nbsp;<a href="/postfile">Register</a>&nbsp Here</h3>
	</div>
</div>
<div class="copyright">
	<p>Copyright &copy; First Mode of Web - 葛华盛</p>
</div>


</body>
</html>